<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Statistics</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/statistics.css'>
        <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <div class="backup">
            <div class="mainimg">
                <div class="d-flex text-center text-white bgcol mb-3 mainhead">
                    <div class="cover-container d-flex w-100 mx-auto h-100 p-3 flex-column">
                        <header class="mb-auto heading">
                            <div>
                                <h3 class="float-md-left mb-0">Covid-19 Live-Tracker</h3>
                                <nav class="nav nav-masthead justify-content-center float-md-right">
                                    <a class="nav-link" href="/home">Home</a>
                                    <a class="nav-link" href=" /maptrack">Map Tracking</a>
                                    <a class="nav-link active" aria-current="page" href="#">Statistics</a>
                                    <a class="nav-link" href="/news">News</a>
                                    <a class="nav-link" href="/vaccine">Vaccine</a>
                                </nav>
                            </div>
                        </header>
                    </div>
                </div>
                <div class='py-3'>
                    <h1 class="display-6 text-center text-light mainhead">Total World Cases</h1>
                    <h2 class='display-1 text-center text-info'>
                        <%=data.cases %>
                    </h2>

                    <h1 class="display-6 text-center text-light mainhead">Total World Deaths</h1>
                    <h2 class='display-1 text-center text-danger'>
                        <%=data.deaths %>
                    </h2>

                    <h1 class="display-6 text-center text-light mainhead">Total World Recoveries</h1>
                    <h2 class='display-1 text-center text-success'>
                        <%=data.recovered %>
                    </h2>

                    <h5 class='text-center text-light subhead'>
                        Updated as of <%-Date(data.updated)%>
                    </h5>
                </div>
                <hr>
                <div>
                    <h3 class='text-center text-decoration-underline pt-3 text-light mainhead'>Country-Wise Reported
                        Statistics
                    </h3>
                    <section class='p-4 m-4 subhead scrolling'>
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Country</th>
                                    <th>Total Cases</th>
                                    <th>New Cases</th>
                                    <th>Total Deaths</th>
                                    <th>New Deaths</th>
                                    <th>Total Recoveries</th>
                                    <th>Active Cases</th>
                                    <th>Total Tests</th>
                                    <th>Population</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%alldata.forEach((el,ind)=>{%>
                                    <tr>
                                        <td>
                                            <%=ind+1%>
                                        </td>
                                        <td>
                                            <%=el.country%>
                                        </td>
                                        <td>
                                            <%=el.cases%>
                                        </td>
                                        <td>
                                            <%=el.todayCases%>
                                        </td>
                                        <td>
                                            <%=el.deaths%>
                                        </td>
                                        <td>
                                            <%=el.todayDeaths%>
                                        </td>
                                        <td>
                                            <%=el.recovered%>
                                        </td>
                                        <td>
                                            <%=el.active%>
                                        </td>
                                        <td>
                                            <%=el.tests%>
                                        </td>
                                        <td>
                                            <%=el.population%>
                                        </td>
                                    </tr>
                                    <%})%>
                            </tbody>
                        </table>
                    </section>
                </div>


                <footer class="bg-dark text-center text-white mainhead">
                    <div class="container p-4">
                        <section class="mb-4">

                            <a class="btn btn-outline-light btn-floating m-1 fa fa-google"
                                href="https://www.google.com/" role="button" target="_blank"
                                rel="noopener noreferrer"></a>

                            <a class="btn btn-outline-light btn-floating m-1 fa fa-instagram"
                                href="https://www.instagram.com/__aravind.01__/" role="button" target="_blank"
                                rel="noopener noreferrer"></a>

                            <a class="btn btn-outline-light btn-floating m-1 fa fa-linkedin"
                                href="https://www.linkedin.com/in/aravind-arul/" role="button" target="_blank"
                                rel="noopener noreferrer"></a>

                            <a class="btn btn-outline-light btn-floating m-1 fa fa-facebook-f"
                                href="https://www.facebook.com/aravind.arul.3" role="button" target="_blank"
                                rel="noopener noreferrer"></a>

                        </section>

                        <section class="mb-4 row d-flex justify-content-center">
                            <h3>CONTACT ME</h3>
                            <p>
                                Phone No: +971 507867720<br>
                                Email ID: aravindarul18@gmail.com
                            </p>
                        </section>

                        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                            © 2021 Copyright:
                            <a class="text-white" href="#">CovidTracker</a>
                        </div>
                </footer>
            </div>
        </div>
    </body>

</html>